*{
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 1px solid #c3c1c1;
}

.header-content {
    width: 87%;
    margin-left: 9%;
    overflow: hidden;
}

.logo {
    width: 24%;
    float: left;
}

.logo img {
    width: 50%;
}

nav {
    width: 44%;
    float: right;
    padding-top: 19px;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-right: 53px;
    font-size: 17px;
    text-transform: capitalize;
}

.content {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.content h1 {
    text-align: center;
    color: #008AFF;
    font-size: 50px;
}

.content p {
    text-align: center;
    font-size: 18px;
    color: #383636;
    margin-top: 19px;
}

.content img {
    width: 70%;
    margin-top: 30px;
}

.content h1:first-child {
    color: black;
    margin-top: 51px;
}
.main-content {
    overflow: hidden;
}

.left-content {
    width: 46%;
    float: left;
}

.left-content h1 {
    text-align: right;
    color: red !important;
}

.left-content p {
    text-align: right;
    margin: 5px;
}

.right-content {
    width: 46%;
    float: right;
}

.right-content h1 {
    color: #000E43;
    font-size: 30px;
    text-align: left;
}
